body {        
  width: 100%;
		margin: 0;
	padding: 0;
    background-color: white;
overflow-y: hidden;
}

.slideout-open .bloqueo
{
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 8500%;
    margin-left: -6%;
    margin-top: 0%;
}

.contenedor input{
    margin-top: 4%;
    display: none;
}

.contenedor label{
    margin: 1%;
    background-color: dodgerblue;
    border-radius: 8%;
    color: white;
    text-decoration: none;
    padding: 2%;
    font-size: 78%;
    font-family:sans-serif;
    margin-left: 2%
}



.contenedor input:checked ~ label {
  background-color: steelblue;
}

.contenedor{
    width: 100%;
    margin-top: 5%;
}

.contenedor label{
    margin-left: 2.4%;
}

#root{
margin-left: 40.3%;
}

.slideout-open .contenedor{
    width: 100%;
    margin-top: 5%;
}

.slideout-open .contenedor label{
    margin-left: 2.4%;
}

.slideout-open #root{
margin-left: 40.3%;
}

#imagenes{
    margin-top: 5%;
}

#imagenes img {
    margin-top: 2%;
  max-width: 42%;
    margin-left: 4.7%;
    border-radius: 18%;
}


.slideout-open #imagenes img {
    margin-top: 0%;
  max-width: 38%;
    margin-left: 4.7%;
    border-radius: 18%;
    margin-bottom: 2%;
}


#laptop:checked ~ #imagenes .tablet, 
#laptop:checked ~ #imagenes .relax,
#laptop:checked ~ #imagenes .bar,
#laptop:checked ~ #imagenes .movil {
	display: none;
}

#tablet:checked ~ #imagenes .laptop,
#tablet:checked ~ #imagenes .relax,
#tablet:checked ~ #imagenes .bar,
#tablet:checked ~ #imagenes .movil {
	display: none;
}

#movil:checked ~ #imagenes .tablet,
#movil:checked ~ #imagenes .relax,
#movil:checked ~ #imagenes .bar,
#movil:checked ~ #imagenes .laptop {
	display: none;
}

#bar:checked ~ #imagenes .tablet,
#bar:checked ~ #imagenes .relax,
#bar:checked ~ #imagenes .movil,
#bar:checked ~ #imagenes .laptop {
	display: none;
}

#relax:checked ~ #imagenes .tablet,
#relax:checked ~ #imagenes .bar,
#relax:checked ~ #imagenes .movil,
#relax:checked ~ #imagenes .laptop {
	display: none;
}
