      .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 75%;
          max-width: 75%;
        height: 100%;
          max-height: 100%;
          overflow: hidden;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        height: 100%;
          max-height: 100%;
          width: 100%;
        background-color: white;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
        height: 100%;
        max-height: 100%;
          width: 100%;
          max-width: 100%;
          margin-left: -5.5%;
      }

.slideout-open .slideout-menu {
        display: block;
          margin: 0;
          padding: 0;
          height: 100%;
          max-height: 100%;
      }

.blue-navbar img{
    width: 100%;
    padding-top: 4%;
    position: absolute;
}

.panel-header{
    position: relative;
    height: 2.9%;
    z-index: 4;
    margin: 0;
    padding: 0;
}


.blue-navbar{
    width: 100%;
    height: 17%;
    margin: 0;
    padding: 0;
    margin-top: -4%;
}

.white-navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -16%;
    background-color: white;
}


.white-navbar img{
    width: 10%;
    text-align: left;
    margin-left: -15%;
    padding-top:2%;
    text-decoration: none;
    position: absolute;
}

.white-navbar ul{
    background-color: white;
    text-decoration: none;
    height: 0%;
    margin: 0;
}

.white-navbar li{
    text-decoration: none;
    display: block;
}


.white-navbar p{
    color: #545454;
    padding-top: 4%;
    margin-left: -3%;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 15%;
    font-size: 75%;
}


.white-navbar a{
    text-decoration: none;
}

.opciones{
    margin-top: 17%;
}

.navcontent{
    height: 32%;
    background-color: white;
    width: 100%;
    margin-top: 15%;
    position: relative;
}

.redesnav{
    width: 100%;
    margin-top: 38%;
}

.redesnav img{
    margin-top: 53%;
    width: 14%;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
    z-index: 0;
    position:relative;
    background-color: rgba(0,0,0,0;)
}


.navlang{
    padding-left:16%;
    background-color: lightgray;
    height: 24%;
    margin-top: 0%;
    width: 100%;
    padding-bottom: 3.34%;
}

.navlang img{
    width: 60%;
    margin-top: 2%;
    margin-left: 4%;
}


#logomenu{
    width: 6.5%;
    margin-left: 42%;
    position: absolute;
    margin-top: .6%;
}


#menu3 img{
    width: 13%;
    margin-left: -17%;
    margin-top: 14%;
}

#btn-menu{
    display: none;
}

.tooltip img{
    width: 4%;
    margin-left: 2%;
    margin-top: .9%;
    z-index: 4;
    position: relative;
}

#menu3{
    position: absolute;
    width:84%;
    z-index: 6;
    margin-left: 25%;
    padding-top:0%;
    text-decoration: none;
}

.submenu{ 
    display: none;
    text-decoration: none;
    z-index: 8;
    position: absolute;
}

#menu2:checked ~ .submenu{
    display:block;
   padding-top: 25%;
    margin-left: 0%;
    font-family: sans-serif;
    text-decoration: none;
    background-color:rgba(0,0,0,0);
    z-index: 3;
}

#menu2:checked ~ .submenu a {
    text-decoration: none;
    color: #545454;
    font-size: 72%;
}

#menu2:checked ~ .submenu a div{
    width: 100%;
    margin-left: 20%;
    margin-top: 7%;
    margin-bottom: 0%;
    padding-top: 4%;
}

#menu2:checked ~ .submenu a div img{
    width:  14%;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: -20%;
    margin-top: -3%;
}

#menu2{
    display: none;
    background-color: white;
    text-decoration: none;
}
