      .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 73%;
          max-width: 75%;
        height: 100%;
          max-height: 100%;
          overflow: hidden;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        height: 100%;
          max-height: 100%;
          width: 100%;
        background-color: white;
          overflow-y: hidden;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
        height: 100%;
        max-height: 100%;
          width: 105.5%;
          margin-left: .6%;
      }

.slideout-open .slideout-menu {
        display: block;
          margin: 0;
          padding: 0;
          height: 100%;
          max-height: 100%;
      }

.slideout-open .tooltip img {
        width: 3.5%;
    margin-left: %;
    margin-top: 1.1%;
    z-index: 4;
    position: relative;
}

.blue-navbar img{
    width: 100%;
    padding-top: 4%;
    position: absolute;
}

.panel-header{
    position: relative;
    height: 2.9%;
    z-index: 8;
    margin: 0;
    padding: 0;
}


.blue-navbar{
    width: 100%;
    height: 17%;
    margin: 0;
    padding: 0;
    margin-top: -4%;
}

.white-navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -17%;
    background-color: white;
}


.white-navbar img{
    width: 12%;
    text-align: left;
    margin-left: -12%;
    padding-top:2%;
    text-decoration: none;
    position: absolute;
}

.white-navbar ul{
    background-color: white;
    text-decoration: none;
    height: 0%;
    margin: 0;
}

.white-navbar li{
    text-decoration: none;
    display: block;
}


.white-navbar p{
    color: #545454;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 15%;
    font-size: 95%;
}


.white-navbar a{
    text-decoration: none;
}

.opciones{
    margin-top: 17%;
}

.navcontent{
    height: 32%;
    background-color: white;
    width: 100%;
    margin-top: 37%;
    position: relative;
    z-index: 0;
}

.redesnav{
    width: 100%;
    margin-top: 25%;
}

.redesnav img{
    margin-top: 68.2%;
    width: 14%;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
    z-index: 0;
    position:relative;
    background-color: rgba(0,0,0,0;)
}


.navlang{
    padding-left:16%;
    background-color: rgba(0,0,1,0.1);
    height: 27%;
    margin-top: 0%;
    width: 100%;
    padding-bottom: 3.34%;
}

.navlang img{
    width: 60%;
    margin-top: 2%;
    margin-left: 4%;
}


#logomenu{
    width: 6.5%;
    margin-left: 41%;
    position: absolute;
    margin-top: .6%;
    z-index: 18;
}

.slideout-open #logomenu {
    width: 5.7%;
    margin-left: 36.2%;
    position: absolute;
    margin-top: .6%;
}



#btn-menu{
    display: none;
}

.tooltip img{
    width: 4%;
    margin-left: 2%;
    margin-top: 1.2%;
    z-index: 4;
    position: relative;
}

#menu3{
    position: absolute;
    width:84%;
    z-index: 1;
    margin-left: 25%;
    margin-top: 16%;
    text-decoration: none;
}

#menu3 img{
    width: 15%;
    margin-left: -18%;
    margin-top: -3%;
}

#menu3 p{
    margin: 0;
    margin-top: 4%;
    padding: 0;
}

.submenu{ 
    display: none;
    text-decoration: none;
    z-index: 0;
    position: absolute;
}

#menu2:checked ~ .submenu{
    display:block;
   margin-top: 28%;
    margin-left: 13%;
    font-family: sans-serif;
    text-decoration: none;
    background-color:rgba(0,0,0,0);
    z-index: 1;
}

#menu2:checked ~ .submenu a {
    text-decoration: none;
    color: #545454;
    font-size: 96%;
}

#menu2:checked ~ .submenu a div{
    width: 100%;
    margin-left: 20%;
    margin-top: 7%;
    margin-bottom: 0%;
    padding-top: 4%;
}

#menu2:checked ~ .submenu a div img{
    width:  15%;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: -20%;
    margin-top: -3%;
}

#menu2{
    display: none;
    background-color: white;
    text-decoration: none;
}


/* MEDIA */

@media only screen and (max-width: 600px) {
    
    
    .panel-header{
    position: relative;
    height: 3%;
    z-index: 8;
    margin: 0;
    padding: 0;
}
    
          .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
        height: 100%;
        max-height: 100%;
          width: 105.5%;
          margin-left: 0.5%;
      }
    
    .opciones{
    margin-top: 17%;
}
    .white-navbar img{
    width: 12%;
    text-align: left;
    margin-left: -12%;
    padding-top:1.5%;
    text-decoration: none;
    position: absolute;
}
    
    .white-navbar p{
    color: #545454;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 15%;
    font-size: 95%;
}
    
    #menu3{
    position: absolute;
    width:84%;
    z-index: 1;
    margin-left: 25%;
    margin-top: 13%;
    text-decoration: none;
}

#menu3 img{
    width: 15%;
    margin-left: -18%;
    margin-top: -.6%;
}
    #menu2:checked ~ .submenu a {
    text-decoration: none;
    color: #545454;
    font-size: 95%;
}
#menu2:checked ~ .submenu a div{
    width: 100%;
    margin-left: 20%;
    margin-top: 6%;
    margin-bottom: 0%;
    padding-top: 4%;
}
#menu2:checked ~ .submenu a div img{
    width:  15%;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: -20%;
    margin-top: -3%;
}
    #menu2:checked ~ .submenu{
    display:block;
   margin-top: 24%;
    margin-left: 13%;
    font-family: sans-serif;
    text-decoration: none;
    background-color:rgba(0,0,0,0);
    z-index: 1;
} 
.redesnav img{
    margin-top: 68%;
    width: 14%;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
    z-index: 0;
    position:relative;
    background-color: rgba(0,0,0,0;)
}  
}


@media only screen and (min-width: 600px) {
    
    
    .panel-header{
    position: relative;
    height: 5.6%;
    z-index: 8;
    margin: 0;
    padding: 0;
}
    
          .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
        height: 100%;
        max-height: 100%;
          width: 105.5%;
          margin-left: 1.5%;
      }
    
    .opciones{
    margin-top: 26%;
}
    .white-navbar img{
    width: 10%;
    text-align: left;
    margin-left: -12%;
    padding-top:.5%;
    text-decoration: none;
    position: absolute;
}
    
    .white-navbar p{
    color: #545454;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 3%;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 11.5%;
    font-size: 85%;
}
    
    #menu3{
    position: absolute;
    width:75%;
    z-index: 1;
    margin-left: 25%;
    margin-top: 12%;
    text-decoration: none;
}

#menu3 img{
    width: 14%;
    margin-left: -15%;
    margin-top: 1.2%;
}
    
    #menu3{
        margin-left: 18%;
        margin-top: 10%;
    }
    
    #menu2:checked ~ .submenu a {
    text-decoration: none;
    color: #545454;
    font-size: 75%;
}

#menu2:checked ~ .submenu a div{
    width: 100%;
    margin-left:4%;
    margin-top: 3%;
    margin-bottom: 0%;
    padding-top: 4%;
}

#menu2:checked ~ .submenu a div img{
    width:  15%;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: -20%;
    margin-top: -3%;
}
    
    #menu2:checked ~ .submenu{
    display:block;
   margin-top: 18%;
    margin-left: 13%;
    font-family: sans-serif;
    text-decoration: none;
    background-color:rgba(0,0,0,0);
    z-index: 1;
}
    
.redesnav img{
    margin-top: 37%;
    width: 12%;
    margin-left: 10.1%;
    margin-right: 10.1%;
    text-align: center;
    z-index: 0;
    position:relative;
    background-color: rgba(0,0,0,0;)
}

    
}


@media only screen and (min-width: 768px) {
    
    
    .panel-header{
    position: relative;
    height: 3%;
    z-index: 8;
    margin: 0;
    padding: 0;
}
    
          .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
        height: 100%;
        max-height: 100%;
          width: 105.5%;
          margin-left: 0.7%;
      }
    
    .opciones{
    margin-top: 17%;
}
    .white-navbar img{
    width: 11%;
    text-align: left;
    margin-left: -12%;
    padding-top:1%;
    text-decoration: none;
    position: absolute;
}
    
    .white-navbar p{
    color: #545454;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 3%;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 15%;
    font-size: 95%;
}
    
    #menu3{
    position: absolute;
    width:75%;
    z-index: 1;
    margin-left: 25%;
    text-decoration: none;
}

#menu3 img{
    width: 16%;
    margin-left: -16%;
    margin-top: -.5%;
}
    
    #menu3{
        margin-left: 18%;
        margin-top: 13%;
    }
    
    #menu2:checked ~ .submenu a {
    text-decoration: none;
    color: #545454;
    font-size: 95%;
}

#menu2:checked ~ .submenu a div{
    width: 100%;
    margin-left:4%;
    margin-top: 6%;
    margin-bottom: 0%;
    padding-top: 4%;
}

#menu2:checked ~ .submenu a div img{
    width:  15%;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: -20%;
    margin-top: -3%;
}
    
    #menu2:checked ~ .submenu{
    display:block;
   margin-top: 22%;
    margin-left: 13%;
    font-family: sans-serif;
    text-decoration: none;
    background-color:rgba(0,0,0,0);
    z-index: 1;
}
    
.redesnav img{
    margin-top: 66%;
    width: 15%;
    margin-left: 8%;
    text-align: center;
    z-index: 0;
    position:relative;
    background-color: rgba(0,0,0,0;)
}

    
} 