      .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 69%;
          max-width: 69%;
        height: 100%;
          max-height: 100%;
          overflow: hidden;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        height: 100%;
          max-height: 100%;
        background-color: white;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
                    height: 100%;
          max-height: 100%;
      }

.slideout-open .slideout-menu {
        display: block;
          margin: 0;
          padding: 0;
          height: 100%;
          max-height: 100%;
      }

.blue-navbar img{
    width: 100%;
    padding-top: 3.9%;
    position: absolute;
}

.blue-navbar{
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;
    margin-top: -3.9%;
}

.white-navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -18%;
    padding-top: 5%;
    background-color: white;
}


.white-navbar img{
    width: 12%;
    text-align: left;
    margin-left: -13%;
    padding-top:2.5%;
    text-decoration: none;
    position: absolute;
}

.white-navbar ul{
    background-color: white;
    text-decoration: none;
    height: 0%;
    margin: 0;
}

.white-navbar li{
    text-decoration: none;
    display: block;
}


.white-navbar p{
    color: #545454;
    padding-top: 6%;
    padding-bottom: 5%;
    margin-left: 6%;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 18%;
    font-size: 16px;
}


.white-navbar a{
    text-decoration: none;
}

.opciones{
    margin-top: 17%;
}

.navcontent{
    height: 44.8%;
    background-color: white;
    width: 100%;
    margin-top: 40%;
    position: relative;
}

.redesnav{
    width: 100%;
    height: 9%;
}

.redesnav img{
    margin-top: 53%;
    width: 14%;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
    z-index: 0;
    position:relative;
    background-color: rgba(0,0,0,0;)
}


.navlang{
    padding-left:16%;
    background-color: lightgray;
    height: 18%;
    margin-top: 58%;
    width: 100%;
    padding-bottom: 3.34%;
}

.navlang img{
    width: 60%;
    margin-top: 2%;
    margin-left: 4%;
}



header{
    width: 100%;
    max-width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#logomenu{
    width: 6.5%;
    margin-left: 42%;
    position: absolute;
    margin-top: .4%;
}


#menu3 img{
    width: 14%;
    margin-top: 18%;
}

#btn-menu{
    display: none;
}

.tooltip img{
    width: 4%;
    margin-left: 2%;
    margin-top: 1.1%;
    margin-bottom: 1.%;
    z-index: 4;
    position: relative;
}

#menu3{
    position: absolute;
    width: 84%;
    z-index: 6;
    margin-left: 15%;
    padding-top:0%;
    text-decoration: none;
}

.submenu{ 
    display: none;
    text-decoration: none;
    z-index: 8;
    position: absolute;
}

#menu2:checked ~ .submenu{
    display:block;
   padding-top: 25%;
    margin-left: 0%;
    font-family: sans-serif;
    text-decoration: none;
    background-color:rgba(0,0,0,0);
    z-index: 3;
}

#menu2:checked ~ .submenu a {
    text-decoration: none;
    color: #545454;
    font-size: 16px;  
}

#menu2:checked ~ .submenu a div{
    width: 100%;
    margin-left: 30%;
    margin-top: 9%;
    margin-bottom: 0%;
    padding-top: 0%;
}

#menu2:checked ~ .submenu a div img{
    width:  14%;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: -20%;
    margin-top: %;
}

#menu2{
    display: none;
    background-color: white;
    text-decoration: none;
}
