body {        
  width: 100%;
		margin: 0;
	padding: 0;
    background-color: white;
}

.slideout-open #texto{
        padding-left: 4%;
    padding-right: 5%;
    text-align: center;
    background-color: white;
}

.slideout-open .bloqueo
{
    z-index: 5;
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 8500%;
    margin-left: -6%;
    margin-top: 0%;
}



.slideout-open .swiper-container
{
      width: 84%;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.slideout-open .swiper-slide
{
text-align: center;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
        z-index: 0;
        padding: 0;
        margin: 0;
        width: 65%;
}


.slideout-open .swiper-slide img{
    width: 101%;
    z-index: 0;
    position: relative;
}



.swiper-container {
      width: 100%;
    margin: 0;
    max-height: 28%;
    padding: 0;
    }

    .swiper-slide {
      text-align: center;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
        z-index: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
        max-height: 28%;
    }

.swiper-slide img{
    max-width: 100%;
    padding: 0;
    margin-bottom: 0;
}


#logo{
    width: 35%;
    margin-top: 5%;
    margin-left: 3%;
}

.slideout-open #logo{
    width: 30%;
    margin-top: 5%;
    margin-left: 3%;
}

#texto {
    margin: 3%;
    width: 53%;
    z-index: 1;
    margin-top: -35%;
    margin-left: 43%;
}

.slideout-open #texto {
    margin: 3%;
    width: 53%;
    z-index: 1;
    margin-top: -31%;
    margin-left: 29%;
}

.tit{
    padding: 0;
    margin: 0;
    margin-top: 8%;
    text-align: center;
    font-family:fantasy;
    font-size: 160%;
    color:#0E78BF;
}

.direc{
    padding: 0;
    margin: 0;
    margin-top: 4%;
    text-align: center;
    font-size: 77%;
    font-family:serif;
}

.telf img{
width: 8%;
    margin-left: -54%;
    text-decoration: none;
}

.telf {
    text-align: center;
    margin: 0;
    margin-top: 7%;
    text-decoration: none;
}

.telf a{
    text-decoration: none;
}

.telf p{
    margin: 0;
    color: black;
    text-decoration: none;
    font-size: 85%;
    z-index: 1;
    margin-top: -8%;
    margin-left: 14%;
}

.direc a{
    text-decoration: none;
    color: black;
}

#descrip{
    font-family:sans-serif;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
}