body {        
  width: 100%;
		margin: 0;
	padding: 0;
    background-color: white;

}

.slideout-open #texto{
        padding-left: 4%;
    padding-right: 5%;
    text-align: center;
    background-color: white;
}

.slideout-open .bloqueo
{
    z-index: 5;
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 8500%;
    margin-left: -6%;
    margin-top: 0%;
}



.swiper-container {
      width: 100%;
    height: 96%;
    margin: 0;
    padding: 0;
    }

    .swiper-slide {
      text-align: center;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
        z-index: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
            margin-top: -5%;
        height: 96%;
    }

.swiper-slide img{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    height: 96%;
}



.slideout-open  .swiper-container {
      width: 100%;
    height: 96%;
    margin: 0;
    padding: 0;

    }

.slideout-open  .swiper-slide {
      text-align: center;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
        z-index: 1;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
            margin-top: -2%;
        height: 96%;
    }

.slideout-open  .swiper-slide img{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    height: 99%;
}

#linkmap{
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    margin-top: 79%;
}

#linkmap img{
    width: 38%;
    height: auto;
    padding: 0;
    margin: 0;
}




/* MEDIA */

@media only screen and (max-width: 320px) {
    
    .swiper-slide img{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 3.5%;
    height: 100%;
}
    
} 